:root{
    --slide-width: 500px;
    --swipe-button-size: 30px;
    --arrow-color: black;
    --swipe-button-color: white;
}

.slider{
    width: var(--slide-width);
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 3rem auto;
    border-radius: 5px;
    background: #000;
}

.slider__track{
    display: inline-flex;
    height: 100%;
    transition: transform .25s ease-in-out;
}

.slider__item{
    width: var(--slide-width);
    height: 100%;
}
    .slider__item img{
        width: 100%;
        height: 100%;
    }



.slider_controll_button{
    display: block;
    width: var(--swipe-button-size);
    height: var(--swipe-button-size);
    background: var(--swipe-button-color);
    border-radius: 100%;
    opacity: .5;
    transition: opacity .25s ease-in-out;
    cursor: pointer;
}

    .slider_controll_button:hover{
        opacity: 1;
    }

.left_swipe{
    position: absolute;
    top: calc(50% - var(--swipe-button-size)/2);
    left: .5rem;
}

.left_swipe::after{
    content: "";
    position: absolute;

    top: calc(50% - 4px);
    left: calc(50% - 4px); 

    border: solid var(--arrow-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;  
    transform: rotate(135deg);
}

.right_swipe{
    position: absolute;
    top: calc(50% - var(--swipe-button-size)/2);
    right: .5rem;
}

.right_swipe::after{
    content: "";
    position: absolute;

    top: calc(50% - 4px);
    left: calc(50% - 4px); 

    border: solid var(--arrow-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;  
    transform: rotate(-45deg);
}

.slider__dots{
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

    .slider__dots span{
        cursor: pointer;
        --width: .4rem;
        margin: 0.25rem;
        width: var(--width);
        height: var(--width);
        border-radius: 100%;
        background: white;
        opacity: .5;
        transition: opacity .25s ease-in-out;
    }

    .slider__dots span.active{
        opacity: 1;
    }

        .slider__dots span:hover{
            opacity: 1;
        }
