.blocks{
    display: flex;
}

.sounds{
    display: grid;
    grid-template-columns: 325px 150px;
    align-items: center;
}

.chanels{
    display: grid;
    grid-template-columns: 325px 150px;
    grid-template-rows: repeat(4,50px);
    align-items: center;
}

.chanels *{
    border: 1px solid gray;
}

.buttons{
    display: grid;
}